.box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .editor{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color:#fff ;
  }
  
  button{
    margin: 5px auto;
  }